[Desktop Entry]
Name=Visual Studio Code - Insiders - URL Handler
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=code-insiders --open-url %U
Icon=com.visualstudio.code.insiders
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/vscode-insiders;
Keywords=vscode;
